.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  padding: 16px 64px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoWrapper {
    width: 136px;
    height: 16px;
}

.logo {
    display: flex;
    justify-content: center;
}

.links {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 32px;
  }

.link {
  font-size: 18px;
  color: var(--main-dark);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--red-hover);
}

.active {
  color: var(--red-hover);
}
