.features {
  border-radius: 10px;
background: var(--Inputs, #F7F7F7);
padding: 44px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 32px;
}

.badge {
  background-color: var(--gray-light);
  border-radius: 100px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--main-dark);
  display: flex;
  align-items: center;
  gap: 8px;
}

.details {
  padding-top: 68px;
}

.detailsTitle {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 24px;
  color: var(--main-dark);
  border-bottom: 1px solid var(--gray-light);
}

.detailsList {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: var(--main-dark);
}
